.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 400px;
  margin: 16px auto;
}

.github-card img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 8px;
}

.github-card h2 {
  margin-bottom: 8px;
  font-size: 24px;
}

.github-card p {
  margin-bottom: 4px;
  font-size: 16px;
}
.user{
 text-transform: uppercase;
}